﻿@model Goodcredit.Models.UserModel

@{
    Layout = null;
}
<link rel="icon" type="image/png" href=@Url.Content("/Content/images/icons/favicon.ico")>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Content/vendor/bootstrap/css/bootstrap.min.css")>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css")>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Content/vendor/animate/animate.css")>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Content/vendor/css-hamburgers/hamburgers.min.css")>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Content/vendor/select2/select2.min.css")>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/util.css")>
<link rel="stylesheet" type="text/css" href=@Url.Content("/Content/css/main.css")>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


@using (Html.BeginForm())
{
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src=@Url.Content("/Content/images/img-01.png") alt="IMG">
                </div>

                <div class="login100-form">
                    <span class="login100-form-title">
                        Good Credit Login
                    </span>

                    <div class="wrap-input100">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "input100", @id = "username", @name = "username", @placeholder = "Username", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-male" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input100", @id = "password", @name = "password", @placeholder = "Password", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    @ViewBag.Error
                    <div class="container-login100-form-btn">
                        <button onclick="LoginFunction()" class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <script src=@Url.Content("/Content/vendor/bootstrap/js/popper.js")></script>
    <script src=@Url.Content("/Content/vendor/bootstrap/js/bootstrap.min.js")></script>
    <!--===============================================================================================-->
    <script src=@Url.Content("/Content/vendor/select2/select2.min.js")></script>
    <!--===============================================================================================-->
    <script src=@Url.Content("/Content/vendor/tilt/tilt.jquery.min.js")></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script>
        function LoginFunction() {
            $.ajax({
                type: "POST",
                url: "/Login/LoginPage",
                data: { username: $("#username").val(), password: $("#password").val() }
            })
        }
    </script>
