﻿@model List<Goodcredit.Models.ContractDetails>

    <body>
        <br />
        <div class="logoform">
            <img src="~/Content/images/logo.png" alt="Logo" class="center" width="600" height="200" />
        </div>
        <br />
        <br />
        <br />
        <form class="form-inline" align="middle">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="loanId" class="form-control" required />
            </div>
            <button type="submit" class="btn-danger btn">Confirm identity</button>
        </form>


        <style>
            .logoform {
                margin-top: 100px;
                text-align: center;
                cursor: pointer;
            }
        </style>

        @if (Model != null)
        {
            <div>
                <table class="table table-sm table-bordered table-bordered mt-2">
                    <tr><th>Tr Id</th><th>Is Addition</th><th>Aproved Date</th><th>Signed Date</th><th></th></tr>

                    @foreach (var contract in Model)
                    {
                        var rejDate = contract.AprRejDate == DateTime.MinValue ? "-" : contract.AprRejDate.ToString();
                        var signDate = contract.SignedDate == DateTime.MinValue ? "-" : contract.SignedDate.ToString();

                        <tr>
                            <td align="center">@contract.TrId</td>
                            <td align="center">@contract.IsAddition</td>
                            <td align="center">@rejDate</td>
                            <td align="center">@signDate</td>

                            @if (!string.IsNullOrEmpty(contract.DownloadLink))
                            {
                                <td align="center"><a href="@contract.DownloadLink">Download</a></td>
                            }
                            else
                            {
                                <td align="center">-</td>
                            }
                        </tr>
                    }
                </table>
            </div>
        }
    </body>

@*@model List<Goodcredit.Models.ContractDetails>

<body>
    <br />
    <div>
        <form method="post" class="m-2">
            <input type="text" name="loanId" required />
            <input type="submit" value="Get Contracts" />
        </form>
    </div>

    @if (Model != null)
    {
        <div>
            <table class="table table-sm table-bordered table-bordered mt-2">
                <tr><th>Tr Id</th><th>Is Addition</th><th>Aproved Date</th><th>Signed Date</th><th></th></tr>

                @foreach (var contract in Model)
                {
                    var rejDate = contract.AprRejDate == DateTime.MinValue ? "-" : contract.AprRejDate.ToString();
                    var signDate = contract.SignedDate == DateTime.MinValue ? "-" : contract.SignedDate.ToString();

                    <tr>
                        <td align="center">@contract.TrId</td>
                        <td align="center">@contract.IsAddition</td>
                        <td align="center">@rejDate</td>
                        <td align="center">@signDate</td>

                        @if (!string.IsNullOrEmpty(contract.DownloadLink))
                        {
                            <td align="center"><a href="@contract.DownloadLink">Download</a></td>
                        }
                        else
                        {
                            <td align="center">-</td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
</body>*@