﻿@model Goodcredit.Models.CloseAgentModel

@{
    ViewBag.Title = "CloseAgent";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "/Agent/GetPartners",
            datatype: "Json",
            success: function (data) {
                $.each(data, function (index, value) {
                    $('#Partners').append('<option value="' + value.Id + '">' + value.Name + '</option>');//dropdownPartners
                });

            }
        });

        $('#Partners,#Branch,#Name').focus(function () {
            var spans = $('#successMessage');
            spans.text('');

            var errorSpan = $('#errorMessage');
            errorSpan.text('');
        })

        $('#Partners').change(function () {//dropdownPartners

            $('#Branch').empty();

            $.ajax({
                type: "POST",
                url: "/Agent/GetBranch",
                datatype: "Json",
                data: { id: $('#Partners').val() },// dropdownPartners
                success: function (data) {
                    $('#Branch').append('<option></option>');
                    $.each(data, function (index, value) {
                        $('#Branch').append('<option  value="' + value.Id + '">' + value.Name + '</option>');
                    });
                }
            });
        });
        ////
        $('#Branch').change(function () {//dropdownBranch

            $('#Name').empty();//dropdownTellers

            $.ajax({
                type: "POST",
                url: "/Agent/GetTellers",
                datatype: "Json",
                data: { branch: $('#Branch').val() },//dropdownBranch
                success: function (data) {
                    $('#Name').append('<option></option>');//dropdownTellers
                    $.each(data, function (index, value) {
                        $('#Name').append('<option value="' + value.Id + '">' + value.Name + '</option>');//dropdownTellers
                    });
                }
            });
        });

        $('#submitBtn').click(function () {
            var spans = $('#successMessage');
            spans.text('');

            var errorSpan = $('#errorMessage');
            errorSpan.text('');

        });

    });
</script>

<h2 class="h2">Close Agent</h2>
@using (Html.BeginForm("CloseAgent", "Agent", FormMethod.Post, new { id = "CloseForm" }))
{

    <table class="table-responsive">
        <tr>
            <th>Partners</th>
            <th>Branch</th>
            <th>Tellers</th>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(m => m.Partners, new SelectList(string.Empty, "Value", "Text"), "Please select a partners", new { @class = "form-control" })
            </td>
            <td>
                @Html.DropDownListFor(m => m.Branch, new SelectList(string.Empty, "Value", "Text"), "Please select a branch", new { @class = "form-control" })
            </td>
            <td>
                @Html.DropDownListFor(m => m.Name, new SelectList(string.Empty, "Value", "Text"), "Please select a tellers", new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                <spam class="text-danger">@Html.ValidationMessageFor(m => m.Partners)</spam>
            </td>
            <td>
                <spam class="text-danger">  @Html.ValidationMessageFor(m => m.Branch)</spam>
            </td>
            <td>
                <spam class="text-danger"> @Html.ValidationMessageFor(m => m.Name)</spam>
            </td>
        </tr>
    </table>

    <br />
    <input class="btn" id="submitBtn" type="submit" value="Close" />
    <span id="successMessage" class="text-success alert-success label-success">@ViewBag.Success</span>
    <span id="errorMessage" class="text-danger alert-danger label-danger">@ViewBag.Error</span>
}


