﻿@model List<Goodcredit.Models.CustomerModel>

@{
                /**/

                Layout = null;
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Task date
            </th>
            <th>
                Late days
            </th>
            <th>
                Phone number
            </th>
            <th>
                Loan
            </th>
            <th>
                Total due
            </th>
            <th>
                Task id
            </th>
            <th>
                Id
            </th>
            <th>
                Customer
            </th>
            <th>
                Comment
            </th>
            <th>
                Surplus
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LateDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surplus)
                </td>
                <td>
                    <input class="btn btn-danger" type="button" onclick="CustomerInformationLoad()" value="Start Action" />
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function CustomerInformationLoad() {
        window.location.href = "../Action/CustomerInformation"
    }

</script>

