﻿@model Goodcredit.Models.LoanModel

@{
    ViewBag.Title = "ManagmentOfLateLoans";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-sm-1">
        @Html.LabelFor(model => model.LateDays1, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.LateDays1, new { htmlAttributes = new { @class = "form-control", @id = "lateDays" } })
    </div>
    @*<div class="col-sm-1">
            @Html.LabelFor(model => model.LateDays2, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LateDays2, new { htmlAttributes = new { @class = "form-control", @id = "lateDays2" } })
        </div>*@
    <div class="col-sm-1">
        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @id = "phoneNumber" } })
    </div>
    <div class="col-sm-1">
        @Html.LabelFor(model => model.LoanNumber, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.LoanNumber, new { htmlAttributes = new { @class = "form-control", @id = "loanNumber" } })
    </div>
    <div class="col-sm-1">
        @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Client, new { htmlAttributes = new { @class = "form-control", @id = "client" } })
    </div>
    @*<div class="col-sm-1">
            @Html.LabelFor(model => model.LoanType, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LoanType, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.LoanType, "", new { @class = "text-danger" })
        </div>*@
    <div class="col-sm-3">
        <label>Comment</label>
        @Html.DropDownListFor(model => model.CommentType, new List<SelectListItem>
    {
       new SelectListItem {Text = "-- Select One --", Value="", Selected=true,Disabled=true },
       new SelectListItem {Text = "TestComm1", Value = "TestComm1" },
       new SelectListItem {Text = "TestComm2", Value = "TestComm2" },
       new SelectListItem {Text = "TestComm3", Value = "TestComm3" },
       new SelectListItem {Text = "TestComm4", Value = "TestComm4" },
       new SelectListItem {Text = "TestComm5", Value = "TestComm5" },
       new SelectListItem {Text = "TestComm6", Value = "TextComm6" }
    }, new { @class = "form-control", @id = "comment" })
    </div>

    <div class="col-sm-1">
        <br />
        <input class="form-control btn btn-success" type="submit" value="Filter" id="btn_search" />
    </div>
</div>


<br />
<div id="personInfo"> @Html.Action("_PartialCustomerInfo")</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>

    $("#btn_search").on('click', function () {
        var ld = $('#lateDays').val();
        var pn = $('#phoneNumber').val();
        var ln = $('#loanNumber').val();
        var cl = $('#client').val();
        var cm = $('#comment').val();
        $.ajax({
            type: 'GET',
            url: '_PartialCustomerInfo?lateDays=' + ld + "&phoneNumber=" + pn + "&loanNumber=" + ln + "&client=" + cl + "&comment=" + cm

        }).done(function (partialViewResult) {
            $("#personInfo").html(partialViewResult)
        });
    });

</script>