﻿@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<img src="~/Content/images/logo.png" alt="Logo" class="center"/>

<div class="wrapper">
    <input class="btn-success btn" type="button" onclick="ManagmentOfLateLoansLoad()" name="name" value="Tasks" id="btn1" />
    <input class="btn-warning btn" type="button" name="name" value="Loans" id="btn2" />
    @if (ViewBag.ChekDate != 1)
    {
        <input class="btn-danger btn" type="button" onclick="Contract()" name="name" value="Contract Generation" id="btn3" />
        <input class="btn-primary btn" type="button" onclick="CloseUser()" name="name" value="CloseUser" id="btn4" />
    }
</div>
<style>
    .center {
        margin-top: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .wrapper {
        margin-top: 100px;
        text-align: center;
        cursor: pointer;
    }

    #btn1 {
        width: 250px;
        font-size: 24px;
        border-radius: 12px;
    }

    #btn2 {
        width: 250px;
        font-size: 24px;
        border-radius: 12px;
    }

    #btn3 {
        width: 250px;
        font-size: 24px;
        border-radius: 12px;
    }

    #btn4 {
        width: 250px;
        font-size: 24px;
        border-radius: 12px;
    }

    
</style>
<script>
    function ManagmentOfLateLoansLoad() {
        window.location.href = "../Loan/ManagmentOfLateLoans"
    }

    function Contract() {
        window.location.href = "../Contract/GetContract"
    }

    function CloseUser() {
        window.location.href = "../CloseUser/CloseAgent"
    }

</script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/TweenLite.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/EasePack.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo.js"></script>